{% block doc -%}
<!DOCTYPE html>
<html{% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
  <head>
    {%- block head %}
    <title>{% block title %}Iberia{% endblock title %}</title>
    
    {%- block metas %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block styles %}
    <!-- Bootstrap -->
    <link href="{{bootstrap_find_resource('css/bootstrap.css', cdn='bootstrap')}}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Raleway:100,200,600,700" rel="stylesheet">
    <style>
      .navbar {
        font-size: 20px;
      }
    </style>
    {%- endblock styles %}

    {%- endblock head %}
  </head>
  <body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
    {% block navbar %}
    <nav class="navbar navbar-fixed-top navbar-expand-lg py-5 navbar-light " style="background-color: #c61c28; " > 
        <a href="{{ url_for('index') }}" class="simple-text logo-mini" >
          <img src="{{ url_for('static', filename='img/download.png') }}" height="65" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" style="color: rgb(233, 191, 24);" href="{{ url_for('index') }}">Home <span class="sr-only"></span></a>
            </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="color: rgb(233, 191, 24);" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    KPIs
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" style="color: rgb(233, 191, 24);" href="/raised">Raised</a>
                    <a class="dropdown-item" style="color: rgb(233, 191, 24);" href="/solved">Solved</a>
                    <a class="dropdown-item" style="color: rgb(233, 191, 24);" href="/sla">SLA</a>
                    <a class="dropdown-item" style="color: rgb(233, 191, 24);" href="/backlog">Backlog</a>
                    <a class="dropdown-item" style="color: rgb(233, 191, 24);" href="/unavailability">Services unavailability</a>
                    <a class="dropdown-item" style="color: rgb(233, 191, 24);" href="/average_availability">Average monthly availability</a>
                    
                  </div>
                </li>
            </li>
          </ul>
          <ul class= "navbar-nav justify-content-end" >
            <li class="nav-item">
              <a class="nav-link glyphicon glyphicon-user" style="color: rgb(233, 191, 24);" href="{{ url_for('register') }}"> Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link glyphicon glyphicon-log-in" style="color: rgb(233, 191, 24);" href="{{ url_for('login') }}"> Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link glyphicon glyphicon-log-out" style="color: rgb(233, 191, 24);" href="{{ url_for('logout') }}"> Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    {%- endblock navbar %}
    {% block content -%}
    <div class="container theme-showcase" role="main" style="margin-top: 75px">
        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>Welcome to Iberia's Dashboard!</h1>
        </div>
    </div>

    <!-- Footer -->
  <footer class="navbar-fixed-bottom py-5" style="background-color: #d7192d;" >
    <div class="container" >
      <p class="m-0 text-grey" >Copyright &copy; Iberia 2021</p>
    </div>
    <!-- /.container -->
  </footer>

    {%- endblock content %}

    {% block scripts %}
    <script src="{{bootstrap_find_resource('jquery.js', cdn='jquery')}}"></script>
    <script src="{{bootstrap_find_resource('js/bootstrap.js', cdn='bootstrap')}}"></script>
    {%- endblock scripts %}
    {%- endblock body %}
  </body>
{%- endblock html %}
</html>
{% endblock doc -%}